{% extends 'base.html' %}
{% block content %}
<h2>Matrículas</h2>

<a href="{{ url_for('criar_matricula') }}">Criar Nova Matrícula</a>

<table>
    <thead>
        <tr>
            <th>Aluno</th>
            <th>Data de Início</th>
            <th>Plano</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for matricula in matriculas %}
        <tr>
            <td>{{ matricula.aluno_nome }}</td>
            <td>{{ matricula.get_data_inicio() }}</td>
            <td>{{ matricula.get_plano() }}</td>
            <td>
                <a href="{{ url_for('editar_matricula', id=matricula.get_id()) }}">Editar</a> |
                <a href="{{ url_for('excluir_matricula', id=matricula.get_id()) }}">Deletar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p>
    <a href="{{ url_for('listar_alunos') }}">Ver Alunos</a>
</p>
{% endblock %}
